.tableFixHead {
  overflow-y: auto;
  max-height: 750px;

  thead th {
    position: sticky;
    top: 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th,
  td {
    padding: 0.5rem 1rem;
    width: 100%;
    white-space: nowrap;
    text-align: left;
  }

  td {
    box-shadow: inset 1px -1px #000;
  }

  th {
    background: #eee;
    box-shadow: inset 1px 1px #000, 0 1px #000;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:nth-child(even):hover {
    cursor: pointer;
    background-color: #eaeaea;
    color: #333333;
  }
  tr:nth-child(odd):hover {
    cursor: pointer;
    background-color: #eaeaea;
    color: #333333;
  }
}
