<h2>User Data With Pagination Control</h2>

<button data-cy="toggle-pagination" (click)="togglePagination()" class="mb-2">
  Toggle Pagination
</button>

<button
  class="ml-2"
  [routerLink]="['/users-v']"
  data-cy="list-user-infinite-scroll"
>
  Display data using infinite scroll
</button>

<div *ngIf="users$ | async as users">
  <app-s-table
    [data]="users"
    [columns]="columnNames"
    [EnablePagination]="isPagingEnabled"
    [rows]="10"
  >
    <ng-template #body let-dataItem let-columnData="colData">
      <tr
        *ngFor="let item of dataItem"
        data-cy="s-table-row"
        [ngClass]="{ expired: item.status === 'expired' }"
      >
        <td>
          <button data-cy="list-users-submit" (click)="submitRow(item)">
            Submit
          </button>
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.company }}</td>
        <td>{{ item.date_entry | date }}</td>
        <td>{{ item.org_num }}</td>
        <td>{{ item.address_1 }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.zip }}</td>
        <td>{{ item.geo }}</td>
        <td>{{ item.pan }}</td>
        <td>{{ item.pin }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.fee }}</td>
        <td>{{ item.guid }}</td>
        <td>{{ item.date_exit | date }}</td>
        <td>{{ item.date_first | date }}</td>
        <td>{{ item.date_recent | date }}</td>
        <td>{{ item.url }}</td>

        <!-- <ng-container *ngFor="let col of columnData">
          <td *ngIf="col.field === 'submit'; else tfields">
            <button (click)="submitRow(item)">Edit</button>
          </td>
          <ng-template #tfields>
            <td>{{ item[col.field] }}</td>
          </ng-template>
        </ng-container> -->
      </tr>
    </ng-template>
  </app-s-table>
</div>
