.vTable {
  display: table;
  width: 100%;
}
.vTableRow {
  display: table-row;
}

.vTableCell,
.vTableHead {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #999999;
  white-space: nowrap;
}
.vTableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}
.vTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.vTableBody {
  display: table-row-group;
}
