<cdk-virtual-scroll-viewport itemSize="30" class="virtual-viewport">
  <div class="vTable">
    <div class="vTableRow">
      <div class="vTableHead" *ngFor="let col of columns">
        {{ col.header }}
      </div>
    </div>
    <div
      class="vTableRow"
      *cdkVirtualFor="let item of data; let even = even"
      [ngClass]="{ evenRow: even }"
    >
      <div class="vTableCell" *ngFor="let col of columns">
        {{ item[col.field] }}
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
