/* You can add global styles to this file, and also import other style files */

$spacer: 1rem;
$primary: #007bff;
$warn: #f7cb8d;

.expired {
  background-color: $warn;
}

.active {
  color: $primary;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.ml-1 {
  margin-left: ($spacer * 0.25) !important;
}

.ml-2 {
  margin-left: ($spacer * 0.5) !important;
}

.mr-1 {
  margin-right: ($spacer * 0.25) !important;
}

.mr-2 {
  margin-right: ($spacer * 0.5) !important;
}

.mb-1 {
  margin-bottom: ($spacer * 0.25) !important;
}

.mb-2 {
  margin-bottom: ($spacer * 0.5) !important;
}
