<div class="paginator d-flex justify-content-center">
  <div>
    <a class="ml-2"><span>&#124;&lt;</span></a>
    <a class="ml-2"><span>&laquo;</span></a>

    <span>
      <a
        *ngFor="let pageNumber of PageLinkArray"
        class="ml-2 page-item"
        (click)="pageChanged(pageNumber)"
      >
        <span [ngClass]="{ active: pageNumber === currentPage }">
          {{ pageNumber }}
        </span>
      </a>
    </span>
    {{ currentPage }}
    <a class="ml-2"><span>&raquo;</span></a>
    <a class="ml-2"><span>&gt;&#124;</span></a>

    <select class="ml-2" (change)="updateRowSize($event.target.value)">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>
  </div>
</div>
